{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>User index</h1>

 <table class="table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Name</th>
                <th>Firstname</th>
                {% if is_granted('ROLE_USER_RECRUTEUR')%}
                    <th>Entreprise</th>
                 {% endif %}
                <th>Phone</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>{{ user.email }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                {% if is_granted('ROLE_USER_RECRUTEUR')%}
                    <td>{{ user.company }}</td>
                 {% endif %}
                <td>{{ user.phone }}</td>
             <td>
             {% if is_granted('ROLE_USER_RECRUTEUR')%}
                    <a href="{{ path('app_area_recruteur', {'id': user.id}) }}">Retournez à votre espace</a>
                {% else %}
                <a href="{{ path('app_area_candidat', {'id': user.id}) }}">Retournez à votre espace</a>
                {% endif %}
                </td>
                
            </tr>
        </tbody>
    </table>

{% endblock %}
