{% extends 'base.html.twig' %}

{% block title %}Cv index{% endblock %}

{% block body %}
    <h1>Cv index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Job</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Cv_candidat</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for moncv in cv %}
            <tr>
                <td>{{ moncv.id }}</td>
                <td>{{ moncv.job }}</td>
                <td>{{ moncv.createdAt ? moncv.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ moncv.updatedAt ? moncv.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ moncv.cvCandidat }}</td>
                <td>
                    <a href="{{ path('app_cv_show', {'id': moncv.id}) }}">show</a>
                    <a href="{{ path('app_cv_edit', {'id': moncv.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
