<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"> {# meta pour responsive #}
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {% endblock %}
                             {# voir les differents emplacements des links pour fonctionnement #}

    <!--voir libairie line-awesone = fontawesone-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    {# lien bootstrap 5 #}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    {# lien css #}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {# lien stripe #}
    <script src="https://js.stripe.com/v3/"></script>

    {% block javascripts %}
    {% endblock %}
    </head>
    <body>
  
     <div class="container-fluid px-0">
        <header>

            <nav>
                <div id="navbar">

                    <ul>
                        <li>
                            <div class="logo"><a href="{{ path('app_home') }}"><img src="{{ asset('media/logo.png') }}"
                                        alt="logo"></a>
                            </div>
                        </li>
                        <li> {% if is_granted('ROLE_ADMIN')==true %}
                            <a href=" {{ path('app_admin_dashboard') }}">admin</a>
                        <li>
                            {% endif %}
                        </li>
                        {# <li>
                            <div class="barre">
                                <form action="{{ path('app_search') }}" method="GET">
                                    <input type="search" name="search" id="search" placeholder="mot..."
                                        size=""><button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                                </form>
                                {% if search %}

                                <ul>
                                    {% for search in search %}
                                    <li>{{ resultats }}</li>
                                    {% endfor %}
                                </ul>
                                {% else %}
                                <p>Aucun résultat trouvé.</p>
                                {% endif %}

                            </div> #}
                            <div class="barreMenu">
                                <form method="get" action="">
                                    <input type="search" name="search" id="search" placeholder="mot..."
                                        size=""><button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                                </form>
                            </div>
                        </li>
                        <li>
                            <div class="login">

                                <ul>
                                    {% if is_granted('ROLE_USER')==false %}

                                    <li><a href=" {{ path('app_login') }}">connexion</li>
                                    <li><i class="fa-solid fa-user"></i> </a></li>

                                    {% endif %}
                                    {% if is_granted('ROLE_USER') %}
                                    <li>
                                        <a href=" {{ path('app_logout') }}">déconnexion
                                    </li>
                                    <li><i class="fa-solid fa-user"></i></a></li>
                                    {% endif %}

                                    {# <li> {% if is_granted('ROLE_USER')==true %}
                                        <a href=" {{ path('app_profile_index') }}">profil</a> 
                                        {% endif %}
                                    </li> #}
                                </ul>

                            </div>
                        </li>
                        <li> {% if is_granted('ROLE_USER_RECRUTEUR')%} {# peut-être à enlever #}
                            <div class="panier"><a href="{{ path('app_cart_show') }}">
                                    <ul>
                                        <li> panier</li>
                                        <li><i class="fa-solid fa-basket-shopping"></i></li>
                                    </ul>
                                </a>
                            </div>
                            {% endif %}
                        </li>
                    </ul>

                </div>
                <div class="dropdown">
                    <a class="btn bg-transparent dropdown-toggle" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-bars"></i>
                    </a>

                    <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <form method="get" action="">
                                <input type="search" name="search" id="search" placeholder="mot..." size=""><button><i
                                        class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </li>
                        {# <li><a class="dropdown-item" href="{{ path('app_formule_recruteur_index') }}" target="_blank"
                                #}>recruteur</a></li>
                        <li><a class="dropdown-item" href="#" target="_blank">candidat</a></li>
                        <li><a class="dropdown-item" href="#" target="_blank">offre d'emploi</a></li>
                    </ul>
                </div>

               <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop" aria-controls="staticBackdrop">
  <i class="fa-solid fa-bars"></i>
</button>

<div class="offcanvas offcanvas-start" data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="staticBackdropLabel">Menu</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div>
      <ul class="dropdown-menu">
                        <li class="dropdown-item">
                            <form method="get" action="">
                                <input type="search" name="search" id="search" placeholder="mot..." size=""><button><i
                                        class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </li>
                        {# <li><a class="dropdown-item" href="{{ path('app_formule_recruteur_index') }}" target="_blank"
                                #}>recruteur</a></li>
                        <li><a class="dropdown-item" href="#" target="_blank">candidat</a></li>
                        <li><a class="dropdown-item" href="#" target="_blank">offre d'emploi</a></li>
                    </ul>
    </div>
  </div>
</div> -->

                <div class="menu">
                    <div class="menuLiens">
                        <ul>
                            <li>

                                <a href="{{ path('app_area_recruteur') }}">recruteur</a>
                            </li>
                            <li>
                                <a href="{{ path('app_area_candidat_annonce_index') }}">offre
                                    d'emploi</a>
                            </li>
                            <li>
                                <a href="{{ path('app_area_candidat') }}">candidat</a>
                            </li>
                        </ul>
                    </div>

            </nav>


        </header>
        <main>
            {# <div class="container"> #}
           
                {% block body %}{% endblock %}
            {# </div> #}
        </main>
        <footer>
            <p><a href="{{ path('app_contact') }}" target="_blank">nous contacter</a> </p>


            <div id="reseaux">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>

            <div class="documents">
                <a href="{{ asset('media/cgv.pdf') }}">CGV</a>
                <a href="{{ asset('media/mentions_legales.pdf') }}">Mentions légales</a>
                <a href="{{ asset('media/politique_de_confidentialite.pdf') }}">Politiques de confidentialité</a>
            </div>
            <div class="copyright">&copy; Copyright</p>
            </div>

        </footer>




    </div>

        {# lien javascript #}
        <script src="{{ asset('js/index.js') }}"></script>
        {# lien javascript boostrap #}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    </body>
</html>
