{% extends 'base.html.twig' %}

{% block title %}Forfait index{% endblock %}

{% block body %}
    <h1>Forfait index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forfait in forfaits %}
            <tr>
                <td>{{ forfait.id }}</td>
                <td>{{ forfait.name }}</td>
                <td>{{ forfait.duration }}</td>
                <td>{{ forfait.price }}</td>
                <td>{{ forfait.description }}</td>
                <td>
                    <a href="{{ path('app_forfait_show', {'id': forfait.id}) }}">show</a>
                    <a href="{{ path('app_cart_add', {id: forfait.id}) }} "class="btn btn-primary">VALIDER le panier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
